.footer {
  background-color: purple;
  color: white;
  padding-left: 35px;

  // padding-bottom: 5px;

  .footer-title {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 29px;
    font-weight: 100;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 0 40px;
  }
  .message {
    font-size: 20px;
    color: white;
  }
  i {
    color: white;
  }

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: white;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color: white;
      transition: color 0.2s;
      &:hover {
        color: #4180cb;
      }
    }
  }
  .location {
    i {
      font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
